<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<style>
*[role="form"] {
    max-width: 500px;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/24/4e/61/244e6188ab44747c1232afdb3b92feb2.jpg");
}

</style>

<br><br><br>
<div class="container">
            <form class="form-horizontal" role="form" name="myForm">
                <h2>Login Here!!!</h2>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" ng-model="username" placeholder="Name" class="form-control" autofocus required>
                        <span ng-show="myForm.username.$error.required">UserName is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="password" ng-model="password" placeholder="Password" class="form-control" required>
                        <span ng-show="myForm.password.$error.required">Password is required.</span>
                    
                    </div>
                </div>
                
                

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button ng-click="login()" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form>
        </div>  